<form>
	<label ><span class="sr-only">Use the dropdown below to translate this site to different languages</span>
	<!-- GTranslate: https://gtranslate.io/ -->
	<select onchange="doGTranslate(this);" class="w-auto p-0 pr-5 text-sm border-none bg-transparent bg-right">
		<option value="">Select Language</option>
		<option value="en|en">English</option>
		<option value="en|fr">French</option>
	</select>
	</label>
</form>


<script type="text/javascript">
	/* <![CDATA[ */
	function doGTranslate(lang_pair) {

		if(lang_pair.value) {
			lang_pair = lang_pair.value;
		}

		if(lang_pair == '') {
			return;
		}

		var lang = lang_pair.split('|')[1];
		var plang = location.hostname.split('.')[0];

		if(plang.length != 2 && plang.toLowerCase() != 'zh-cn' && plang.toLowerCase() != 'zh-tw') {
			plang = 'en';
		}

		location.href = location.protocol + '//' + (lang == 'en' ? '' : lang + '.') + location.hostname.replace('www.', '').replace(RegExp('^' + plang + '\\.'), '') + location.pathname + location.search;
	}

	/* ]]> */
</script>

